@import "tailwindcss";
@import "tw-animate-css";

@theme inline{
    --color-black-1: #111;
    --color-black-2: #222;
    --color-black-3: #333;
}

.font-primary{
    font-family: Pacifico, cursive;
}

.Nabla{
  font-family: Nabla;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite;
}
