.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f0f0f;
}

.loader {
  display: flex;
  font-family: Pacifico;
  /* gap: 4px; */
}

.loader span {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
  animation: bounce 1.2s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
    /* opacity: 0.5; */
  }
  40% {
    transform: translateY(-18px);
    /* opacity: 1; */
  }
}
